<h3><i class="fas fa-book-reader"></i>Story Book</h3>
<div class="section">
    <p class="">Create Public and Private Story</p>
</div>
<div class="divider">

</div>
<div class="section">
    <a href="/auth/google" class="btn red darken-1">
    <i class="fab fa-google left">   Sign in With Google</i>
    </a>
</div>